.Streams {
    
}

#bootstrap-input {
    border-radius: 4;
    background-color: white;
    border: 1px solid #ced4da;
    font-size: 16;
    padding: '10px 12px';
    width: 'calc(100% - 24px)';
    /* border-color: #80bdff; */
    /* box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); */
}